body{
    background-color: #Fbe0e9;
}
p{
    color: #B51d52;
    font-family: "Georgia", serif;
    font-size: 22pt; 
}
a{
    color: #870432; 
    font-family: "Georgia", serif;
    font-size: 15pt; 
}

a:hover{
    color: #B51d52;
}

p.special{
    color: #504649; 
    text-align: center;
}
.content {
    max-width: 500px;
    margin: auto;
    padding: 10px;
  }

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

h1{
    color: #870432; 
    font-family: "Georgia", serif;
    font-size: 30pt; 
    text-align: center;

}

.brick{
    background-image: url(photo-1543097676-44e5a5bd4ef1.jpg); background-size: 100%; 
}