body{
    background-color: #Fbe0e9; 
}
p{
    color: #B51d52;
    font-family: "Georgia", serif;
    font-size: 22pt; 
}
a{
    color: #870432; 
    font-family: "Georgia", serif;
    font-size: 15pt; 
}

a:hover{
    color: #B51d52;
}

p.special{
    color: #504649; 
}